body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        footer {
            background-color: #000;
            color: #fff;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .link-boxes {
            flex: 1;
            margin-bottom: 20px;
			text-decoration: underline;
			display:flex;
        }

        .media-icons {
            display: flex;
            align-items: center;
        }
        .service{
			
		}
        .media-icon {
            margin-right: 10px;
            color: #fff;
            text-decoration: none;
        }

        @media only screen and (max-width: 600px) {
            .footer-section {
                flex-basis: 100%;
            }
        }