.link-boxes {
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.link-boxes h3 {
  font-size: 18px;
}

.link-boxes a {
  color: #333;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}
